* {
  padding: 0;
  margin: 0;
}
body {
  color: #353535;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ",
    Meiryo, "ＭＳ Ｐゴシック", Osaka, Tahoma, Verdana, Arial, Verdana,
    sans-serif;
}

header {
  position: sticky;
  top: 0;
  width: 100%;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.3);
  background: rgba(255, 255, 255, 0.9);
  z-index: 10;
  padding-bottom: 15px;
}
.header-inner {
  padding-top: 20px;
}
.header-inner h1 {
  text-align: center;
  font-size: 28px;
  color: #353535;
}
.header-navi {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0 20px;
  max-width: 1000px;
}
.list li {
  border-left: #d5d5d5 1px dashed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 135px;
  height: 56px;
}
.list li:nth-child(3) {
  border-right: #d5d5d5 1px dashed;
}
.list li:nth-child(7) {
  border-right: #d5d5d5 1px dashed;
}
.list a {
  text-decoration: none;
  color: #1e3421;
  text-align: center;
  font-size: 13px;
  font-weight: 700;
  line-height: 1.3;
  display: flex;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  transition: 0.3s ease;
  width: 100%;
  height: 100%;
}
.list .center {
  width: auto;
  height: auto;
  line-height: 1.5;
  border-left: none;
}
.list .logo-img {
  padding: 2px 5px 0;
  background-color: #999;
}

.contents {
  min-width: 1000px;
  line-height: 1.6em;
  background: #fafafa;
}
.contents .main {
  width: 1000px;
  margin: 0 auto;
  padding: 65px 0 0px;
  background: #fff;
}
.contents .main-top {
  background: url(./img/main.jpg) repeat-y center center;
  background-color: #01062c;
  height: 499px;
  min-width: 1000px;
  width: 100%;
  background-size: cover;
}
.main h1 {
  font-size: 28px;
  color: #353535;
}
.main #info {
  margin: 50px auto 110px;
  padding-top: 35px;
  width: 915px;
}
.main #info h3 {
  color: #353535;
  margin-bottom: 20px;
  font-size: 1.03em;
}
.main #info .flex {
  display: flex;
  justify-content: space-between;
}
.main #info p {
  color: #353535;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ",
    Meiryo, "ＭＳ Ｐゴシック", Osaka, Tahoma, Verdana, Arial, Verdana,
    sans-serif;
  font-size: 14px;
  width: calc(51% - 100px);
  margin-right: 100px;
}
.main #info .img {
  width: 49%;
}
.main #info img {
  width: 100%;
  height: auto;
}

.main #location {
  padding-bottom: 90px;
  margin-bottom: 80px;
  padding-top: 50px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background: cornsilk;
}
.main #location .box {
  margin: 0 auto;
  width: 915px;
  position: relative;
  z-index: 1;
}
.main #location .box .ttl_ara {
  z-index: 2;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto 50px;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ",
    Meiryo, "ＭＳ Ｐゴシック", Osaka, Tahoma, Verdana, Arial, Verdana,
    sans-serif;
  font-size: 14px;
}
.main #location .box .ttl_ara h3 {
  color: #000000;
  z-index: 2;
}
.main #location .box .ttl_ara .caption {
  padding-top: 10px;
  line-height: 1.5;
  font-size: 18px;
}
.main #location .slide_area {
  text-align: right;
  margin-bottom: 40px;
  width: 100%;
}
.main #location .slide_area img {
  margin-right: 20%;
}
.main #location .box .location_text {
  margin-bottom: 45px;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ",
    Meiryo, "ＭＳ Ｐゴシック", Osaka, Tahoma, Verdana, Arial, Verdana,
    sans-serif;
  font-size: 14px;
  line-height: 1.8em;
}
.main #location .box .btn_area {
  text-align: center;
}

.main #application {
  margin: 0 auto 80px;
  width: 830px;
  padding: 3px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.main #application .application-inner {
  background-color: #fff;
  padding-top: 55px;
  padding-bottom: 60px;
}
.main #application h3 {
  margin-bottom: 50px;
  text-align: center;
  color: black;
  font-size: x-large;
}
.main #application table {
  margin: 0 auto 25px;
  width: 745px;
  border-collapse: collapse;
  border-spacing: 0;
  color: #353535;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ",
    Meiryo, "ＭＳ Ｐゴシック", Osaka, Tahoma, Verdana, Arial, Verdana,
    sans-serif;
  font-size: 14px;
}
.main #application table th {
  background-color: #01062c;
  border: #a1a1a1 1px solid;
  color: #fff;
  padding: 12px;
}
.main #application table td {
  border: #a1a1a1 1px solid;
  padding: 12px;
  text-align: center;
}
.main #application table td.course {
  text-align: left;
}
.main #application .capacity dl {
  margin: 0 auto 35px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -moz-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  line-height: 1.5;
  color: #353535;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ",
    Meiryo, "ＭＳ Ｐゴシック", Osaka, Tahoma, Verdana, Arial, Verdana,
    sans-serif;
  font-size: 14px;
}
.main #application .capacity dl dt {
  padding-right: 20px;
  padding-left: 15px;
}
.main #application .capacity dl dd {
  border-left: 1px solid #a6a6a6;
  padding-left: 20px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 450px;
}
.main #application .btn_area {
  border-top: 1px dotted #a9a9a9;
  margin: 0 auto;
  width: 727px;
  padding: 20px 10px 0px;
  text-align: center;
}
.btn_area a {
  display: inline-block;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  transition: 0.3s ease;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ",
    Meiryo, "ＭＳ Ｐゴシック", Osaka, Tahoma, Verdana, Arial, Verdana,
    sans-serif;
  font-size: 14px;
}
.btn-square {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #999;
  color: #000;
  text-decoration: none;
  border-bottom: solid 4px rgb(0, 0, 0);
  border-radius: 3px;
}
.btn_area a:hover {
  text-decoration: underline;
}
a:hover {
  opacity: 0.6;
}

#contents #education {
  color: #000;
  padding-top: 75px;
  position: relative;
  min-width: 1000px;
  z-index: 0;
  overflow: hidden;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ",
    Meiryo, "ＭＳ Ｐゴシック", Osaka, Tahoma, Verdana, Arial, Verdana,
    sans-serif;
  font-size: 14px;
  background: cornsilk;
}
#contents #education .box {
  z-index: 1000;
  margin: 0 auto;
  width: 1000px;
  position: relative;
  color: #000;
}
#contents #education h1 {
  color: #000;
}
#contents #education ol.grade {
  width: 840px;
  margin: 0 auto;
  padding: 0;
}
#contents #education ol.grade > li {
  border-bottom: #3b4d3d 1px solid;
  margin-bottom: 47px;
  padding-bottom: 47px;
  padding-left: 90px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  color: #000;
}
#contents #education ol li {
  list-style: none;
}
#contents #education .grade ol > li {
  min-height: auto;
}
#contents #education ol.grade li ol li {
  margin: 0;
  padding: 0;
}
#contents #education .grade ol .one {
  padding: 20px 0 0 119px;
}
#contents #education ol.grade ol li ul li {
  padding-left: 15px;
  list-style: square;
}
#contents #education .grade ol .two {
  padding: 0px 0 0 119px;
  margin: 0;
}

#contents #contact {
  padding-top: 45px;
  width: 100%;
  position: relative;
  overflow: hidden;
}
#contents #contact .box {
  margin: 0 auto;
  width: 1000px;
  position: relative;
  z-index: 2;
}
#contents #contact .ttl_area {
  margin-bottom: 40px;
}

#contents #access {
  margin: 0 auto 55px;
  width: 1000px;
  color: #353535;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ",
    Meiryo, "ＭＳ Ｐゴシック", Osaka, Tahoma, Verdana, Arial, Verdana,
    sans-serif;
  font-size: 14px;
  background: cornsilk;
  padding-top: 50px;
  padding-bottom: 5px;
}
#contents #access .ttl_area {
  margin-bottom: 15px;
}
#contents #access .ttl_area .detail {
  margin-top: 30px;
  text-align: right;
}
#contents #access address {
  font-style: normal;
}
#contents #access .ttl_area .detail p {
  line-height: 1.5;
}
#contents #access .googolemap {
  text-align: center;
}

footer {
  width: 100%;
  color: #ffffff;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ",
    Meiryo, "ＭＳ Ｐゴシック", Osaka, Tahoma, Verdana, Arial, Verdana,
    sans-serif;
  font-size: 14px;
}
footer .f_area {
  margin: 0 auto 25px;
  width: 1000px;
}
footer .copy {
  background-color: #01062c;
  height: 45px;
  line-height: 45px;
}
footer .copy div {
  margin: 0 auto;
  width: 1000px;
}
#target {
  display: none;
}

@media screen and (max-width: 1050px) {
  header {
    width: 100%;
    position: fixed;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.3);
  }
  .header-inner h1 {
    text-align: start;
    padding-left: 15px;
    color: #353535;
  }
  .header-navi {
    position: fixed;
    width: 0;
    height: 100vh;
    top: 0;
    left: 200%;
    background: burlywood;
    margin: 0;
    -webkit-transition: 1s;
    transition: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  .list {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    list-style: none;
    margin: 0 20px;
    -webkit-transition: 1s;
    transition: 1s;
  }

  .list li {
    border-left: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100px;
    padding: 0 20px;
  }
  .list li:nth-child(3) {
    border-right: none;
  }
  .list li:nth-child(7) {
    border-right: none;
  }
  .list a {
    text-decoration: none;
    color: #1e3421;
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    line-height: 1.3;
    display: flex;
    align-items: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    transition: 0.3s ease;
    width: 100%;
    height: 100%;
    white-space: nowrap;
  }
  .list .center {
    width: auto;
    height: auto;
    line-height: 1.5;
    border-left: none;
    position: absolute;
    left: 3%;
    top: 2%;
  }
  .list .logo-img {
    padding: 2px 5px 0;
    background-color: #999;
  }

  /* hamburger_line */
  #target {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 30px;
    transform: translateY(-50%);
    right: 10px;
    cursor: pointer;
    display: block;
    -webkit-transition: 1s;
    transition: 1s;
    z-index: 1000;
  }

  .target_inner {
    width: 40px;
    height: 40px;
    position: relative;
    margin: 0 auto;
  }

  .target_inner_line {
    display: block;
    width: 40px;
    height: 5px;
    background: #636363;
    -webkit-transition: 1s;
    transition: 1s;
    border-radius: 50px;
    position: absolute;
  }

  .target_inner_1 {
    top: 0;
  }

  .target_inner_2 {
    top: 13px;
  }

  .target_inner_3 {
    top: 26px;
  }

  /* 動き */
  .fadein {
    width: 100vw;
    left: 0;
  }

  .linea,
  .lineb,
  .linec {
    background: #ffffff;
  }

  .linea {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 13px;
  }

  .lineb {
    opacity: 0;
  }

  .linec {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 13px;
  }

  .contents {
    min-width: auto;
    line-height: 1.6em;
    margin-top: 77px;
  }
  .contents .main-top {
    background: url(./img/main.jpg) repeat-y center center;
    background-color: #01062c;
    height: 400px;
    min-width: auto;
    width: 100%;
    background-size: cover;
  }
  .contents .main {
    width: 100%;
    padding: 65px 0px 0px;
  }
  .main h1 {
    color: #353535;
    padding: 0 10px;
  }
  .main #info {
    width: calc(100% - 20px);
    padding: 0 10px;
  }
  .main #info h3 {
    color: #353535;
    margin-bottom: 20px;
    font-size: 1.5em;
  }
  .main #info .flex {
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
  }
  .main #info p {
    color: #353535;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ",
      Meiryo, "ＭＳ Ｐゴシック", Osaka, Tahoma, Verdana, Arial, Verdana,
      sans-serif;
    font-size: 18px;
    width: 100%;
    margin-right: 0px;
  }
  .main #info .img {
    width: 100%;
  }

  .main #location {
    width: calc(100% - 20px);
    padding: 15px 10px 80px;
    margin: 0 0px 80px;
    position: relative;
    overflow: hidden;
  }
  .main #location .box {
    margin: 0 auto;
    width: 100%;
    position: relative;
    z-index: 1;
  }
  .main #location .box .ttl_ara {
    z-index: 2;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto 50px;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ",
      Meiryo, "ＭＳ Ｐゴシック", Osaka, Tahoma, Verdana, Arial, Verdana,
      sans-serif;
    font-size: 18px;
    flex-direction: column;
  }
  .main #location .box .ttl_ara h3 {
    color: #000000;
    z-index: 2;
    width: auto;
    font-size: 18px;
  }
  .main #location .box .ttl_ara .caption {
    padding-top: 10px;
    line-height: 1.5;
    font-size: 18px;
    width: 70%;
    margin-left: auto;
    text-align: center;
  }
  .main #location .slide_area img {
    margin-right: auto;
    max-width: 528px;
    width: 100%;
  }
  .main #location .slide_area {
    text-align: center;
    margin-bottom: 25px;
  }
  .main #location .box .location_text {
    margin-bottom: 45px;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ",
      Meiryo, "ＭＳ Ｐゴシック", Osaka, Tahoma, Verdana, Arial, Verdana,
      sans-serif;
    font-size: 18px;
    line-height: 1.8em;
  }
  .main #location .box .btn_area {
    text-align: center;
    position: relative;
    width: 100%;
    padding-top: 75%;
    margin: 0 auto;
  }
  .main #location .box .btn_area iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .main #application {
    width: calc(100% - 20px);
    margin: 0 auto 0px;
  }
  .main #application table {
    margin: 0 auto 25px;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    color: #353535;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ",
      Meiryo, "ＭＳ Ｐゴシック", Osaka, Tahoma, Verdana, Arial, Verdana,
      sans-serif;
    font-size: 18px;
  }
  .main #application .capacity dl {
    margin: 0 auto 35px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -moz-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    line-height: 1.5;
    color: #353535;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ",
      Meiryo, "ＭＳ Ｐゴシック", Osaka, Tahoma, Verdana, Arial, Verdana,
      sans-serif;
    font-size: 18px;
    flex-direction: column;
  }
  .main #application .capacity dl dt {
    padding-right: 20px;
    padding-left: 15px;
    font-size: 18px;
    font-weight: bold;
  }
  .main #application .capacity dl dd {
    border-left: none;
    padding-left: 0px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: auto;
  }
  .main #application .btn_area {
    border-top: 1px dotted #a9a9a9;
    margin: 0 auto;
    width: 100%;
    padding: 20px 0px 0px;
    text-align: center;
  }
  .main #application h3 {
    margin-bottom: 50px;
    text-align: center;
    color: black;
    font-size: 20px;
  }

  #contents #education {
    min-width: auto;
    width: 100%;
  }
  #contents #education .box {
    z-index: 1000;
    margin: 0 auto;
    width: 100%;
    position: relative;
    color: #000;
  }
  #contents #education h1 {
    color: #000;
    padding-bottom: 40px;
  }
  #contents #education ol.grade {
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }

  #contents #education ol.grade > li {
    border-bottom: #3b4d3d 1px solid;
    margin-bottom: 47px;
    padding-bottom: 47px;
    padding-left: 5px;
    padding-right: 5px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    color: #000000;
    flex-direction: column;
  }
  #contents #education ol.grade ol {
    font-size: 16px;
    margin: 0 auto 0 25%;
  }
  #contents #education .grade ol > li {
    min-height: auto;
  }
  #contents #education .grade ol .one {
    padding: 20px 0 0 0px;
  }
  #contents #education .grade ol .two {
    padding: 0;
    margin: 0;
  }
  #contents #education ol.grade ol li ul li {
    padding: 0;
    margin-bottom: 10px;
    margin-left: 30px;
  }

  #contents #contact {
    padding-top: 45px;
    width: 100%;
    position: relative;
  }
  #contents #contact .box {
    margin: 0 auto;
    width: 100%;
    position: relative;
    z-index: 2;
  }
  #contents #contact .ttl_area {
    margin-bottom: 40px;
    position: relative;
    width: 100%;
    padding-top: 75%;
    height: 1100px;
  }
  #contents #contact .ttl_area iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  #contents #access {
    width: calc(100% - 20px);
    margin: 0 0 0px;
    padding: 50px 10px 5px;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ",
      Meiryo, "ＭＳ Ｐゴシック", Osaka, Tahoma, Verdana, Arial, Verdana,
      sans-serif;
    font-size: 18px;
  }
  #contents #access .googolemap {
    text-align: center;
    margin-bottom: 40px;
    position: relative;
    width: 100%;
    padding-top: 75%;
  }
  #contents #access .googolemap iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  footer .f_area {
    margin: 0 auto 25px;
    width: calc(100% - 20px);
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ",
      Meiryo, "ＭＳ Ｐゴシック", Osaka, Tahoma, Verdana, Arial, Verdana,
      sans-serif;
    font-size: 18px;
  }
  footer .copy div {
    margin: 0 auto;
    width: calc(100% - 20px);
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ",
      Meiryo, "ＭＳ Ｐゴシック", Osaka, Tahoma, Verdana, Arial, Verdana,
      sans-serif;
    font-size: 13px;
  }
}

@media screen and (max-width: 767px) {
  .list li {
    border-left: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 50px;
    padding: 0 20px;
  }
  .list a {
    text-decoration: none;
    color: #1e3421;
    text-align: center;
    font-size: 23px;
    font-weight: 700;
    line-height: 1.3;
    display: flex;
    align-items: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    transition: 0.3s ease;
    width: 100%;
    height: 100%;
    white-space: nowrap;
  }
  .contents .main-top {
    background: url(./img/main.jpg) repeat-y center center;
    background-color: #01062c;
    height: 200px;
    min-width: auto;
    width: 100%;
    background-size: cover;
  }
  .main #location .box .ttl_ara h3 {
    color: #000000;
    z-index: 2;
    width: auto;
    font-size: 16px;
  }
  .main #location .box .ttl_ara .caption {
    padding-top: 10px;
    line-height: 1.5;
    font-size: 18px;
    width: 83%;
    margin-left: auto;
    text-align: start;
  }
  #contents #education ol.grade ol {
    font-size: 16px;
    margin: 0 auto;
    width: calc(100% - 20px);
  }
  #contents #contact .ttl_area {
    margin-bottom: 40px;
    position: relative;
    width: 100%;
    padding-top: 75%;
    height: 1500px;
  }

  .main #info p {
    color: #353535;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ",
      Meiryo, "ＭＳ Ｐゴシック", Osaka, Tahoma, Verdana, Arial, Verdana,
      sans-serif;
    font-size: 16px;
    width: 100%;
    margin-right: 0px;
  }
  .main #location .box .ttl_ara {
    z-index: 2;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto 20px;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ",
      Meiryo, "ＭＳ Ｐゴシック", Osaka, Tahoma, Verdana, Arial, Verdana,
      sans-serif;
    font-size: 16px;
    flex-direction: column;
  }
  .main #location .box .location_text {
    margin-bottom: 45px;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ",
      Meiryo, "ＭＳ Ｐゴシック", Osaka, Tahoma, Verdana, Arial, Verdana,
      sans-serif;
    font-size: 16px;
    line-height: 1.8em;
  }
  .main #application table {
    margin: 0 auto 25px;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    color: #353535;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ",
      Meiryo, "ＭＳ Ｐゴシック", Osaka, Tahoma, Verdana, Arial, Verdana,
      sans-serif;
    font-size: 16px;
  }
  .main #application .capacity dl {
    margin: 0 auto 35px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -moz-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    line-height: 1.5;
    color: #353535;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ",
      Meiryo, "ＭＳ Ｐゴシック", Osaka, Tahoma, Verdana, Arial, Verdana,
      sans-serif;
    font-size: 16px;
    flex-direction: column;
  }
  #contents #access {
    width: calc(100% - 20px);
    margin: 0 auto 0px;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ",
      Meiryo, "ＭＳ Ｐゴシック", Osaka, Tahoma, Verdana, Arial, Verdana,
      sans-serif;
    font-size: 16px;
  }
  footer .f_area {
    margin: 0 auto 25px;
    width: calc(100% - 20px);
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ",
      Meiryo, "ＭＳ Ｐゴシック", Osaka, Tahoma, Verdana, Arial, Verdana,
      sans-serif;
    font-size: 16px;
  }
}
@media screen and (max-width: 520px) {
  #contents #education ol.grade ol li ul li br {
    display: none;
  }
}
@media screen and (max-width: 370px) {
  .list li {
    border-left: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 50px;
    padding: 0 20px;
  }
  .list a {
    text-decoration: none;
    color: #1e3421;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.3;
    display: flex;
    align-items: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    transition: 0.3s ease;
    width: 100%;
    height: 100%;
    white-space: nowrap;
  }
  .header-inner h1 {
    text-align: start;
    padding-left: 15px;
    color: #353535;
    font-size: 23px;
  }
  /* hamburger_line */
  #target {
    right: 5px;
  }
  .main #location {
    padding-bottom: 0;
  }
  .main #location .box .ttl_ara h3 {
    color: #000000;
    z-index: 2;
    width: auto;
    font-size: 14px;
  }
  #contents #contact .ttl_area {
    margin-bottom: 40px;
    position: relative;
    width: 100%;
    padding-top: 75%;
    height: 1600px;
  }
  footer .copy div {
    margin: 0 auto;
    width: calc(100% - 20px);
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ",
      Meiryo, "ＭＳ Ｐゴシック", Osaka, Tahoma, Verdana, Arial, Verdana,
      sans-serif;
    font-size: 11px;
  }
}
